* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    margin: 0 3% 4% 3%;
    padding: 4vw;
    width: 94%;
    border-radius: 999px;
    background-image: linear-gradient(160deg, #511538 5%, #001b40 100%);
    box-shadow: 0 0 6vw 0 #000e2260;
}

.menu-item {
    text-align: center;
    text-decoration: none;
    font-family: "DM Sans", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4vw;
    color: #ffffff;
}

.menu-item:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

@media only screen and (min-width: 568px) {
    
    .navbar {
        margin: 0;
        width: 60%;
        top: 4vh;
        bottom: unset;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.5vw;
        box-shadow: 0 0 3vw 0 #000e2280;
    }

    .menu-item {
        font-size: min(calc((28 / 14.4) * 1vw), 28px);
    }
}
