body {
    /*  \/ needed because app.js isnt included in gallery.html to covert this back from loading page */
    overflow: auto;
    background-image: linear-gradient(30deg, #511538 92%, #001b40 100%); 
}

#scroll-clip {
    visibility: visible;
    height: fit-content;
}

.white-bg-section {
    top: 19vh;
    border-radius: 2.5vw 2.5vw 0 0;
}

.textbox {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
}

h1 {
    margin: 0 0 0 0;
    font-size: 15vw;
}

h2 {
    color: #ffffffb5;
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
}

p {
    text-align: center;
    font-weight: 300;
    font-size: 3vw;
    margin: 0.7vh 7vw 2vh 7vw;
    padding: 0 0 0 0vw;
    /* color: #53396c; */
    color: #c6c6c6;
    /* border-left: 0.6vw solid #78618d; */
}

.portrait {
    height: calc(90vw * 16/9);
    width: 90vw;
}

.landscape { 
    height: calc(90vw * 9/16);
    width: 90vw;
}

.gallery-item {
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    
    max-width: 90vw;
    margin: 2vh 0 0 0;
    border-radius: 2.5vw;
    box-shadow: 0px 0px 6vw 0vw rgba(0, 0, 0, 0.25);
    border: none;
}

.navbar {
    box-shadow: 0 0 1.5vw 0 #ffffff24;
    visibility: visible;

}

.shadow {
    position: fixed;
    /* https://non-boring-gradients.netlify.app/ */
    background-image:linear-gradient(0deg, rgb(100% 100% 100%) 0%, rgb(100% 100% 100% / 0.87890625) 6.25%, rgb(100% 100% 100% / 0.765625) 12.5%, rgb(100% 100% 100% / 0.66015625) 18.75%, rgb(100% 100% 100% / 0.5625) 25%, rgb(100% 100% 100% / 0.47265625) 31.25%, rgb(100% 100% 100% / 0.390625) 37.5%, rgb(100% 100% 100% / 0.31640625) 43.75%, rgb(100% 100% 100% / 0.25) 50%, rgb(100% 100% 100% / 0.19140625) 56.25%, rgb(100% 100% 100% / 0.140625) 62.5%, rgb(100% 100% 100% / 0.09765625) 68.75%, rgb(100% 100% 100% / 0.0625) 75%, rgb(100% 100% 100% / 0.03515625) 81.25%, rgb(100% 100% 100% / 0.015625) 87.5%, rgb(100% 100% 100% / 0.00390625) 93.75%, rgb(100% 100% 100% / 0) 100% );
    width: 100%;
    height: 12vh;
    bottom: 0;

}

@media only screen and (min-width: 600px) { /* Tablet Styling */
}

@media only screen and (min-width: 600px) { /* was: (768px Desktop Styling) */


.white-bg-section {
    top: 0;
}

.textbox {
    margin-top: 10vh;
    margin-bottom: 2vh;
}

h1 {
    font-size: 10vw;

    /* background-image: linear-gradient(130deg, #511538 40%, #001b40 100%); */
    /* background-clip: text; */
    /* -webkit-text-fill-color: transparent; */

}

h2 {
    color: #110f0d;
    font-size: 1.5vw;
}

p {
    font-size: 1vw;
    margin: 0.5vh 25vw 3vh 25vw;
}

.portrait {
    width: calc(80vh * 9/16);
    height: 80vh;
}

.landscape {
    width: 70vw;
    height: calc(70vw * 9/16);
}

.gallery-item {
    margin: 2vh 0 0 0;
    max-width: 70vw;
    max-height: 80vh;
    border-radius: 2.5vw;
    box-shadow: 0px 0px 6vw 0vw rgba(0, 0, 0, 0.25);
}

.shadow {
    opacity: 0;
}

}