/* 
OLD COLORS
#0B2F4E
#FEA46B
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* background-color: black; */
}

#scroll-clip {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4000px;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-image: linear-gradient(30deg, #511538 85%, #001b40 100%); 
    height: auto;
    margin: 0;
}

.white-bg-section {
    position: absolute;
    top: 40vh;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 8vw 0 8vw 0;
    box-shadow: 0px 0px 10vw 0vw #000e2270;
    z-index: -3;
}

#model {
    width: 100%;
    height: 80vw;
    left: 0%;
    top: 40vh;
    position: fixed;
    z-index: 1;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.textbox {
    width: 100%;
    top: 0;
    justify-content: center;
    align-content: center;
    margin-top: 10vh;
    margin-bottom: 10%;
}

h1 {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 11vw;
    color: #FFFFFF;
    text-shadow: 0 0 3vw #000e22;
    text-align: center;
}

h2 {
    font-family: 'DM Sans',  Helvetica,  sans-serif;
    font-weight: 700;
    font-size: 5vw;
    color: #110f0d;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
    margin: 0;
}

p {
    margin-top: 2%;
    font-family: 'DM Sans',  Helvetica,  sans-serif;
    font-weight: 400;
    font-size: 4vw;
    color: #110f0d;
}

.spacer {
    height: 8vh;
}

hr {
    margin-top: 18%;
    height: 0.5vh;
    background: #110f0d;
    transition: all 0.15s ease-in-out;
}

hr.floater {
    opacity: 0;
    width: 0%;
}

hr.floater.inview {
    opacity: 1;
    width: 80%
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 3vw;
    margin-bottom: 4vh;
    padding: 0vw 4vw 0vw 4vw;

    background-image: linear-gradient(160deg, #511538 5%, #001b40 100%);
    box-shadow: 0px 0px 6vw 0vw #000e2260;

    border-radius: 999px;

    position: fixed;
    width: 94vw;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.menu-item {
    text-align: center;
    text-decoration: none;

    margin: 3vw 3.5vw 3vw 3.5vw;

    font-family: 'DM Sans', Helvetica, sans-serif;
    font-weight: 400;

    font-size: 4vw;
    color:#FFFFFF;

    border-radius: 999px;
}

.menu-item:hover {
    text-decoration: underline;
    text-decoration-thickness: .15vh;
    text-underline-offset: 0.25vh;
}

.floater:not(hr) {
    display: grid;
    position: relative;
    margin-top: 10vh;
    padding-left: 3%;
    width: 70%;
    z-index: 0;
    border-left: 1vw solid #110f0d;

    transition: 0.15s all ease-out;
}

.floater.left {
    left: -70%;
}

.floater.right {
    left: 120%;
}

.floater.inview:not(hr) {
    left: 15%;
}


@media only screen and (min-width: 600px) { /* Tablet Styling */

}


@media only screen and (min-width: 600px) { /* was 768px Desktop Styling */
    
    .textbox {
        width: 50%;
        margin: 30vh 0 0 0;
    }

    h1 {
        font-size: 5vw;
        color: #110f0d;
        text-shadow: none;
    }

    h2 {
        font-size: 2vw;
    }

    .spacer {
        height: 20vh;
    }

    .white-bg-section {
        margin-top: 0vh;
        padding-top: 0vh;
        top: 0vh;
    }

    #model {
        width: 60vw;
        height: 40vw;
        left: 40%;
        top: 15vh;
    }

    .navbar {
        margin: 0;
        width: 60%;
        top: 4vh;
        bottom: auto;
        left: 50%;
        transform: translateX(-50%);

        box-shadow: 0px 1vh 3vw 0vw #000e2280;
        }

    .menu-item {
        margin: 1vh 3vw 1vh 3vw;
        padding: 0 0 0 0 0;

        color: #FFFFFF;
    
        font-size: 2.5vh;
        text-decoration-thickness: 0.2vh;
        text-underline-offset: 0.4vh;

        border: none;
    }

    p {
        font-size: 1vw;
    }

    .floater:not(hr) {
        margin-top: 15vh;
        padding-left: 1vw;
        width: 35vw;
        border-left: 0.4vw solid black;    
    }
    
    .floater.left {
        left: 10%;
    }
    
    .floater.right {
        left: 10%;
    }

    .floater.inview:not(hr) {
        left: 10%;
    }
    
}