/* 
OLD COLORS
#0B2F4E
#FEA46B
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #110f0d;
    height: 4000px;
    width: 100vw;
    margin: 0;
    /* padding-top: 10%; */
    /* overflow-x: hidden; */
}

h1 {
    margin: 8%;
    margin-top: 20%;
    margin-bottom: 20%;
    /* font-family: 'Noto Serif', Courier, monospace; */
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 11vw;
    color: #FFFFFF;
    text-align: center;
}

h2 {
    font-family: 'DM Sans',  Helvetica,  sans-serif;
    font-weight: 700;
    color: #110f0d;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
    margin: 0;
    
}

p {
    margin-top: 2%;
    font-family: 'DM Sans',  Helvetica,  sans-serif;
    font-weight: 400;
    font-size: 4vw;
    color: #110f0d;
}

.white-bg-section {
    width: 100%;
    height: 3600px;
    overflow-x: hidden;
    background-color: #FFFFFF;
    border-radius: 8vw 0 8vw 0;
    z-index: -3;
    padding-bottom: 20%;
}

.textbox {
    width: 100%;
    justify-content: center;
    align-content: center;
}

hr {
    margin-top: 18%;
    height: 1.5vw;
    background: #110f0d;
    transition: all 0.15s ease-in-out;
}

hr.floater {
    opacity: 0;
    width: 0%;
}

hr.floater.inview {
    opacity: 1;
    width: 80%
}

.navbar {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 0 2vh 0;
    padding: 4vw;
    
    position: fixed;
    bottom: 0;
    left: 0;
}

.menu-item {
    text-align: center;
    text-decoration: none;
    padding: 1% 1% 1.5% 1%;
    width: 33.33%;
    margin: 3vw;

    font-family: 'DM Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 5vw;
    color: #110f0d;

    border-radius: 999px;
    border: 0.7vw solid #110f0d;
}

.menu-item:hover:active {
    color: #FFFFFF;
    background-color: #110f0d;
}


.floater:not(hr) {
    display: grid;
    position: relative;
    margin-top: 10vh;
    padding-left: 3%;
    width: 70%;
    z-index: 0;
    border-left: 1vw solid black;

    /* border: 1px solid gray; */
    transition: 0.15s all ease-out;
}

.floater.left {
    left: -70%;
}

.floater.right {
    left: 120%;
}

.floater.inview:not(hr) {
    left: 15%;
}

#model {
    width: 100%;
    height: 40%;
    left: 0%;
    top: 48vh;
    position: fixed;
    z-index: 1;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (min-width: 600px) { /* Tablet Styling */

  }


@media only screen and (min-width: 768px) { /* Desktop Styling */
    
    .textbox {
        width: 50%;
        margin-top: 10%;
    }

    h1 {
        font-size: 5vw;
        color: #110f0d;
    }

    .white-bg-section {
        margin-top: -33%;
        padding-top: 33%;
    }

    #model {
        width: 60%;
        height: 50%;
        left: 40%;
        top: 20vh;
    }

    .navbar {
        width: 45%;
        height: 10%;

        top: 0;
        left: 50%;
        transform: translateX(-50%);


    }

    .menu-item {
        margin: 1vw;
    
        font-size: 2vw;
        border: 0.2vw solid #110f0d;
    }

    .floater:not(hr) {
        display: grid;
        position: relative;
        margin-top: 10vh;
        padding-left: 3%;
        width: 70%;
        border-left: 1vw solid black;
    
        transition: 0.15s all ease-out;
    }
}