* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', Helvetica, sans-serif;
    background: #ffffff;
    overflow: auto;
    margin: 0;
}

#scroll-clip {
    padding: 10vw 6vw 10vw 6vw;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;
}


section {
    padding-top: 6vw;
    margin-bottom: 10vw;
}


.flexbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 4vw;
    gap: 3vw;
    width: 100%;
}


.flexitem-half {
    flex: 1 1 0;
    overflow: visible;
    margin-bottom: 2vh;
}

.flexitem-model {
    overflow: visible;
}


h1 {
    text-align: center;
    margin: 0 0 50px 0;
    font-weight: 900;
    font-size: clamp(35px, 6vw, 60px);
    line-height: 1.2;
    color: #282828;

}

h2 {
    margin: 0 0 2vw 0;
    font-weight: 600;
    font-size: clamp(22px, 4vw, 30px);
    line-height: 1.15;
    color: #1a1a1a;
}

p, a, ol {
    margin: 0;
    font-weight: 200;
    font-size: clamp(14px, 2vw, 18px);
    color: #070707;
    line-height: 1.5;
}


.gallery-item {
    position: relative;
    max-width: 100%;

    border-radius: 1vw;
    box-shadow: 0px 5px 2vw 0vw rgba(0, 0, 0, 0.15);
}


.iframe-item {
    position: relative;
    max-width: 100%;
    width: 100%;
    aspect-ratio: 3/2;

    border-radius: 1vw;
    border: none;
    box-shadow: 0px 5px 2vw 0vw rgba(0, 0, 0, 0.15);
}

/* FOR YOUTUBE VIDS */
.landscape {
    border: none;
    width: 100%;
    aspect-ratio: 16 / 9;
}
.portrait {
    border: none;
    width: 100%;
    aspect-ratio: 9 / 16;

}


/* DESKTOP */
@media only screen and (min-width: 600px) { /* was: (768px Desktop Styling) */
    #scroll-clip {
        padding: 10vw 12vw 10vw 12vw;
    }

    .flexitem-half{
        margin-bottom: 0;
    }

    .CW {
        flex-direction: row-reverse;

    }
    
    .CCW {
        flex-direction: row;
    }

}